.personal-info {
  &-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    // border: 1px solid;
    margin: 20px;
    border-radius: 20px;
    background: transparent;
    min-height: 718px;

    .title {
      color: #209ea6;
      text-align: center;
      font-family: "Work Sans";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.64px;
      margin-bottom: 15px;
    }
  }
  &__avatar {
    // padding: 0 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    // margin-bottom: 10px;
  }
}

// button.ant-btn.css-dev-only-do-not-override-1kuana8.ant-btn-default {
// background-color: rgb(32, 158, 166);
// color: white;
// }

.ant-form-item.form-item.css-dev-only-do-not-override-1kuana8 {
  margin-bottom: 5px;
}
